#pageReports {
    display: grid;
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    grid-template-columns: minmax(0, 250px) minmax(0, auto);
    grid-template-rows: 70px calc(100vh - 110px) 40px;    
}
