# BSD License
Flask == 1.1.1

# MIT License
Flask_Cors == 3.0.8

# BSD  License
Flask_SQLAlchemy == 2.4.0

# MIT  License
SQLAlchemy == 1.3.6

# BSD  License
flask_restplus == 0.12.1

# MIT  License
opencv-python == 4.1.0.25


# APACHE 2.0  License
tensorflow == 2.0.0b1

# GNU, LGPL  License
psycopg2 == 2.8.3


# GNU,LGPL  License
gensim == 3.7.3

# GNU  License
konlpy == 0.5.1

# APACHE 2.0  License
pandas == 0.23.4

# GNU,LGPL,MIT  License
pycurl == 7.43.0.3

# PSF  License
matplotlib == 3.1.1

# BSD  License
imageio >= 2.5.0
